extends base

block title
  title #{page.title } - #{config.title}
  
if page.summary
  block description
    meta(name="description" content=page.summary)

block page
  .main.box
    article.article
      h1.article-title=page.title
      .article-content.markdown-body
        if page.summary
          p=page.summary
        | !{page.content}
      .article-report
        | *如果你对本词条有更好的见解可以直接修改 <a target="_blank" href="https://github.com/egoist/codejargon/blob/master/source/_posts/#{page.slug}.md">源文件</a> 或者 <a target="_blank" href="https://github.com/egoist/codejargon/issues/new">提交 ISSUE</a>。